/FruitAndBird/proj.android-studio
/FruitAndBird/proj.ios_mac
/FruitAndBird/proj.linux
/FruitAndBird/proj.win8.1-universal
/FruitAndBird/proj.win10
/FruitAndBird/proj.win32
/FruitAndBird/cocos2d
/FruitAndBird/proj.android
/FruitAndBird/.cocos-project.json
/FruitAndBird/CMakeLists.txt
